*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    color: white;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif;
    font-family: Arial, Helvetica, sans-serif; */
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}
.whole-container{
    padding: 0 10vw;
}

/* ============ Navigation ============ */

#navigation{
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo-text{
    font-weight: 600;
    font-size: 2rem;
}
.logo-text:hover{
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
}
ul li a:hover{
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    transition: 0.3s;
}
.active{
    color: #ee9a14;
    font-weight: 600;
}
.btn{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
}
.contact-btn{
    padding: 0.5rem 1.8rem;
    background-color: rgb(240, 156, 20);
    color: white;
    border-radius: 2.5rem;
    font-weight: 500;
}
.contact-btn:hover{
    box-shadow: 4px 4px 8px rgba(240,156,20,0.9);
    cursor: pointer;
}

/* ============ Navigation Hero ============ */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-img{
    width: 500px;
}
.hero-img img {
    width: 100%;
}
.text-container{
    width: 500px;
}
.sub-title{
    font-size: 2rem;
    font-weight: 600;
}
.hero-title{
    font-size: 4rem;
    font-weight: 700;
}
.section-p{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.btn2{
    background-color: #ee9a14;
    color: white;
    border-radius: 2.5rem;
    font-weight: 500;
    /* margin-bottom: 1.5rem; */
}
.btn2:hover{
    box-shadow: 4px 4px 8px rgba(240,156,20,0.9);
    cursor: pointer;
    transition: 0.3s;
}
.social-media{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.media-logo{
    color: #ee9a14;
    text-align: center;
    width: 1.5rem;
}
.media-logo:hover{
    color: white;
}
.social-media-container{
    box-shadow: 4px 4px 5px rgba(240,156,20,0.2);
    border: #ee9a14 0.1rem solid;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-container:hover{
    background-color: #ee9a14;
    transition: 0.15s;
}

.highlight{
    color: #ee9a14;
}
.arrow{
    box-shadow: 4px 2px 10px 8px rgba(240,156,20,0.3);
    font-size: 2rem;
    color: white;
    position: relative;
    right: -80vw;
    border: none;
    border-radius: 2rem;
}
.arrow:hover{
    color: #ee9a14;
}

/* ============ About Section ============ */

#about{
    margin-top: 5rem;
    /* height: 70vh; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img{
    width: 400px;
}
.about-img img{
    width: 100%;
}
.section-about-title{
    font-size: 3rem;
}
.title{
    font-size: 2rem;
    color: #ee9a14;
}
.about-title{
    margin-bottom: 0;
    padding: 0;
}
.about-p{
    margin-top: 0.2rem;
}

/* ============ Services Section ============ */
#services{
    margin-bottom: 5rem;
}
.section-title{
    font-size: 3rem;
    text-align: center;
}
.color{
    color: #ee9a14;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}
.card{
    /* width: 300px; */
    margin-top: 2rem;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
.card:hover{
    border: #ee9a14 0.1rem solid;
    box-shadow: 4px 4px 30px 10px rgba(240,156,20,0.3);
}
.servises-icons{
    font-size: 2rem;
    color: #ee9a14;
}
.services-title{
    font-size: 1.5rem;
    color: #ee9a14;
    text-align: center;
}
.services-p{
    margin-top: 1rem;
    text-align: center;
}

/* ============ Projects Section ============ */
#projects{
    background-color: #2d2d2d;
    margin-bottom: 2rem;
}
.project-container{
    padding: 0 10vw;
    padding-bottom: 2rem;
}
.project-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
.project img{
    width: 100%;
    border-radius: 1rem;
}

/* ============ Contacts Section ============ */

.contact{
    border: #ee9a14 0.2rem solid;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
}
.contact:hover{
    box-shadow: 4px 4px 30px 10px rgba(240,156,20,0.3);
    transition: 0.15s;
}
.bxl-gmail,
.bxs-phone-call{
    font-size: 2rem;
    color: #ee9a14;
    border: #ee9a14 0.1rem solid;
    border-radius: 50%;
    padding: 0.1rem;
}
.bxs-phone-call{
    margin-top: 1rem;
}
.bxl-gmail:hover,
.bxs-phone-call:hover{
    background-color: #ee9a14;
    box-shadow: 4px 4px 30px 10px rgba(240,156,20,0.3);
    transition: 0.15s;
    color: white;
}
.contact-link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.contact-link:hover{
    text-decoration: underline;
}

/* ============ Main Footer ============ */

#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* height: 40vh; */
    background-color: #1a1a1a;
    padding-top: 2rem;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 0;
}
.footer-card{
    display: flex;
    flex-direction: column;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ee9a14;
    margin-bottom: 1.5rem;
}
small{
    margin-bottom: 1rem;
}
small a{
    text-decoration: none;
    color: rgb(214, 212, 212);
    font-size: 1rem;
    margin-top: 2rem;
}
small a:hover{
    color: #e3ab52;
    border-bottom: #e3ab52 solid 0.1rem;
}
.footer-logo{
    color: #ee9a14;
    font-weight: 700;
}


/* ============ Subfooter Footer ============ */

#sub-footer{
    background-color: #2d2d2d;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10vh;
}
.sub-footer-p{
    display: flex;
    justify-content: center;
    align-items: center;
}